@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{
    min-height: 100vh;
}
body{
    background-color: #454545;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    background-color: #454545;
}
#logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}
#logo span{
    color: #FFA559;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-right: 20px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    line-height: 60px;
   color: #FFE6C7;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}
nav ul li a:hover{
    text-decoration: underline;
    color: white;
}
#contact-button{
  float: right;
  margin-top: -40px;
   margin-right: 40px;
}
#contact-button button{
    color: #FFA559;
    background: none;
    border:solid 2px #FF6000 ;
    height: 25px;
    width:90px;
    cursor: pointer;
   
}
#contact-button button:hover{
    background: #FF6000;
    color:white;
}
#info #text{
    text-align: center;
align-items: center;
position: absolute;
margin-top: 300px;
margin-left: 250px;
}
#info #text{
    color: #FFE6C7;
font-size: 30px;
}
#info #text span{
    font-size: 48px;
  color:#FF6000;
 
  
}

#hero-image{
 position: relative;
  margin-left: 600px;
 transform: translateY(-20vh);

}
#sosyal{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#aboutme{
    min-height: 100vh;
    
}
#aboutme-container #hero2{
    float: right;
     position: relative;
     margin-top: -80px;
     margin-right: 450px;
}
#aboutme-container h2{
color: #FF6000 ;
text-align: center;
line-height: 50px;
}
#aboutme-container #desc{
text-align: left ;
margin-top: 100px;
margin-left: 150px;
    color: #FCFCFC;
}
#aboutme-container #read-more{
    background:none;
    border:solid 2px #FF6000 ;
    color:#FFA559;
    margin-left: 150px;
    position: relative;
    margin-top: 10px;
    font-size: 10px;
    height: 20px;
    width: 70px;
    cursor: pointer;
}
#aboutme-container #read-more:hover{
    background-color: #FF6000;
    color: white;
}
#aboutme-container #myskills{
  
    text-align: center;
}
#skill-container{
    margin-top: 50px;
    cursor: pointer;
}
#first-column{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}
#c:hover{
        border-radius: 1em;
        -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        transition: .8s ease;
    }
#java:hover{
    border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
    -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
    box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
    transition: .8s ease;
}

#figma:hover{
    border-radius: 1em;
    border-radius: 1em;
        -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        transition: .8s ease;
}
#html:hover{
    border-radius: 1em;
    border-radius: 1em;
        -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        transition: .8s ease;
}
#css:hover{
    border-radius: 1em;
    border-radius: 1em;
        -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        transition: .8s ease;
}
#js:hover{
    border-radius: 1em;
    border-radius: 1em;
        -webkit-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        -moz-box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);
        transition: .8s ease;
}
#second-column{
    display: flex;
    justify-content: center;
    gap: 50px;
}
footer{
    background-color:#FFE6C7 ;
}
#footer-container{
    min-height: 15vh;
    display: flex;
    flex-wrap: flex;
    color: black;

}
#logo2 span{
    color: #FFA559;
}
#footer-logo{
    width: 25%;
    text-align: center;
}
#footer-logo h4{
    color: black;
}
#footer-logo p{
    color: black;
    font-size: small;
   

}
#links{
    width: 25%;
    text-align: center;
}
#links h4{
    color: black;
}
#links ul li,a{
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: small;
}
#contact{
    text-align: center;
    width: 25%;
}
#contact h4{
    color: black;
}
#contact ul li,a{
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: small;
}
#copy{
    height: 20px;
    text-align: center;
    background-color: #FFA559;
}